<div id="container" class="cf">  

    <article class="span1">
        <section>
          <h1>section h1</h1>
          <p>Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. 
          Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. 
          Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. </p>

          <p>Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. 
          Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. 
          Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. </p>
        </section>
        <section>
          <h2>section h2</h2>
          <p>Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. 
          Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. 
          Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. </p>
        </section>
        <section>
          <h2>section h2</h2>
          <p>Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. 
          Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. 
          Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. </p>
        </section>
      </article>

      <aside class="span1 col">
          <h2>aside h2</h2>
          <p>Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. 
          Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. 
          Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. </p>

          <h2>aside h2</h2>
          <p>Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. 
          Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. 
          Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. </p>
      </aside>

</div> <!--! end of #container -->