<div id="container" class="cf">  
  <div id = "wrap" style = "height: 350px; padding: 20px; background-color: white">
      <article class="span1">
          <img src="{{dog.profileImageUrl}}" style = "width : 100%"alt=""/>
      </article>

      <aside class="span1 col">
          <h2>Name: {{dog.name}}</h2>
          <h3>Owner: {{dog.owner}}</h3>
          <h3>Breed: {{dog.breed}}</h3>
          <h3>Age: {{dog.age}}</h3>
          <h3>Bark-O-Meter level: {{dog.barklevel}}</h3>
          <br>
          <h2>How to make {{dog.name}}'s Day</h2>
          <p>Give me a squirrel. Noms.</p>
          <p>Give me a squirrel. Noms.</p>
          <p>Give me a squirrel. Noms.</p>
          <p>Give me a squirrel. Noms.</p>
          <p>Give me a squirrel. Noms.</p>
      </aside>
    <div>
</div> <!--! end of #container -->