<div id="container" class="cf">  
<div id = "add" style = "height: 300px; background-color: white; padding: 20px">

  <h2>Add new dog</h2>
    <form name="myWebForm" action="mailto:youremail@email.com" method="post"> Profile picture:     
             <input type="file" name="uploadField" style="position: relative; left: 100px"/>
    </form>
    <form action="" method="post">
	  Name: <input type="text" name="name" maxlength="20" size="20" style="position: relative; left: 151px"/><br/>
      Gender:    <input type="text" name="gender" maxlength="20" size="20" style="position: relative; left: 142px"/> <br/>
	  Breed:    <input type="text" name="breed" maxlength="20" size="20" style="position: relative; left: 150px"/> <br/>
	  Age:    <input type="text" name="age" maxlength="20" size="20" style="position: relative; left: 165px"/> <br/>
	  Category:    <input type="text" name="category" maxlength="20" size="20" style="position: relative; left: 130px"/> <br/>
	  Personality:	  <textarea wrap="physical" cols="20" name="quote" rows="5" style="position: relative; left: 118px">Eg. Preferences, temperament, etc.</textarea><br/>
	  Location (within office):    <input type="text" name="location" maxlength="50" size="50" style="position: relative; left: 44px"/> <br/>
	  <p><input type="submit" /></p>
	</form>
  </div> <!--! end of #container -->
</div>
