<div id="container" class="cf">  

    <article class="span1">
        <a class="pic-link" href="#/dogs/{{dog.id}}">
          <img src="http://distilleryimage9.s3.amazonaws.com/38e1648e341211e2be981231380492d8_7.jpg" style = "width : 100%"alt=""/>
          <span><b>
             Name: {{dog.name}}<br>
             Owner: {{dog.id}}
          </b></span>
        </a>
      </article>

      <aside class="span1 col">
          <h2>aside h2</h2>
          <p>Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. 
          Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. 
          Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. </p>

          <h2>aside h2</h2>
          <p>Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. 
          Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. 
          Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. Hello I am Dog. </p>
      </aside>

</div> <!--! end of #container -->