<div id="container" class="cf">  

  <div id = "row1" style = "height: 100%; background-color: white; padding: 50px;">
    <div class = "dog-row-r">
      <div class = "dog-col-1-4" ng-repeat="dog in dogs | filter:query | orderBy:name">

        <a class="pic-link" href="#/dogs/{{dog.id}}">
          <img src="{{dog.profileurl}}" alt=""/>
          <span><b>
             Name: {{dog.name}}<br>
             Owner: {{dog.owner}}
          </b></span>
        </a>
      </div>

    </div>
  </div>

</div> <!--! end of #container -->